@define-color cc-bg rgba(26, 27, 38, 1.0);
@define-color noti-border-color rgba(205, 214, 244, 1.0);
@define-color noti-bg rgba(49, 50, 68, 1.0);
@define-color noti-bg-hover rgba(49, 50, 68, 1.0);
@define-color noti-bg-focus rgba(49, 50, 68, 1.0);
@define-color noti-close-bg rgba(205, 214, 244, 1.0);
@define-color noti-close-bg-hover rgba(205, 214, 244, 1.0);

@define-color bg-selected rgb(122, 162, 247);

.notification-row {
  transition: all 100ms ease;
  outline: 0px;
  margin: 0px;
  border-radius: 0px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  /*background: transparent;*/
}

.notification-row:focus .notification,
.notification-row:hover .notification {
  /*box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);*/
  /*box-shadow: 0px 0px 0px 2px @bg-selected;*/
}

.control-center .notification {
  box-shadow: none;
}

.control-center .notification-row {}

.notification {
  transition: all 100ms ease;
  /*box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);*/
  padding: 0px;
  border-radius: 0px;
  margin: 12px;
}

/* Uncomment to enable specific urgency colors
.low {
  background: yellow;
  padding: 6px;
}
.normal {
  background: green;
  padding: 6px;
}
.critical {
  background: red;
  padding: 6px;
}
*/

.notification-content {
  background: transparent;
  padding: 0px;
  margin: 10px;
}

.close-button {
  background: @noti-close-bg;
  color: white;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  /*background: @noti-close-bg-hover;*/
  transition: all 0.10s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 0px;
  margin: 0;
  box-shadow: none;
  /*background: @noti-bg;*/
  border: 2px solid @noti-border-color;
  color: white;
  border-radius: 0px;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @noti-bg-hover;
}

.notification-default-action {}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {}

.notification-action:last-child {
  border-right: 1px solid @noti-border-color;
}

.image {}

.body-image {
  margin-top: 6px;
  background-color: white;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: white;
  text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: white;
  text-shadow: none;
}

.control-center-clear-all {
  color: white;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
}

.control-center-clear-all:hover {
  background: @noti-bg-hover;
}

.control-center-dnd {
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @bg-selected;
}

.control-center-dnd slider {
  background: @noti-bg-hover;
}

.control-center {
  background: @cc-bg;
  background-clip: border-box;
  padding: 8px;
  margin: 2px;
  border-radius: 0px;
  /*box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);*/
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-title>button {
  font-size: initial;
  color: white;
  text-shadow: none;
  background: @noti-bg;
  border: 2px solid @noti-border-color;
  box-shadow: none;
}

.widget-title>button:hover {
  background: @noti-bg-hover;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: @bg-selected;
}

.widget-dnd>switch slider {
  background: @noti-bg-hover;
}

/* Label widget */
.widget-label {
  margin: 8px;
}

.widget-label>label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
  background-color: @noti-bg;
  border-radius: 0px;
  box-shadow: none;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}